@font-face {
  font-family: 'Inter var';
  font-display: swap;
  src: url(/src/fonts/Inter.var.woff2) format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
}